<nav class="nav-bar">
    <a class="active" href="/">Home</a>
    <input type="text" placeholder="Search..">

    {{#if logged}}
    <a id="logout-button">Log Out</a>
    {{else}}
    <a id="login-button" href="/login">Login</a>
    {{/if}}

    <a href="/postimage">Post</a>
</nav>