<div id="main-content">
    <div id="error-container">
        <div id="error-message">500 Server Internal Error. <br/> Oops something went wrong. Please try again later or contact site admin. </div>
        <div id="error-gif"></div>
    </div>
</div>
