<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="public/css/imagepost.css">
	<title>ImagePosts</title>
</head>
<body>
	<div class="centered">
		<header>
			<h1>Posts</h1>
		</header>

		<div>
			<label for="ptitle">Title</label>
			<section id="titlesection">

			</section>
		</div>
		
		<div>
			<label for="pauthor">Author</label>
			<section id="authorsection">

			</section>
		</div>

		<div>
			<label for="ctime">Creation Time</label>
			<section id="ctimesection">

			</section>
		</div>

		<div>
			<label for="pimage">Image</label>
			<section id="imagesection">

			</section>
		</div>
	</div>
	
	
</body>
</html>