<div class="login-centered">
	<header>
		<h1>Login Form</h1>
	</header>

	<form>
		<div class="labelcontainer">
			<label for="uname">Username</label>
		</div>
		<div >
			<input type="text" name="uname" />
		</div>
		
		<div class="labelcontainer">
			<label for="pword">Password</label>
		</div>
		<div>
			<input type="password" name="pword" />
		</div>
	</form>
	<div class="buttoncontainer">
		<input type="submit" id="login" value="Log in"/>
	</div>	
</div>
