<div class="post-centered">
	<header>
		<h1>Image Posting</h1>
	</header>

	<form>
		<div class="container">
			<label for="ptitle">Title</label>
			<input type="text" name="ptitle" />
		</div>

		<div class="labelcontainer">
			<div>
				<label for="pdescription">Description</label>
			</div>
			<input type="text" id="pdescription" name="pdescription" />
		</div>

		<div id="imagecontainer">
			<label for="pimage">Images</label>
			<input type="file" name="pimage" />
		</div>

		<div id="post-checkboxcont">
			<input type="checkbox" id="checkTOS" name="TOS">
			<label class="checklabel" for="checkTOS"><a href=""> Accept Use Policy for uploading images</a></label>
		</div>

		<div>
			<input type="submit" id="imagepost" value="Submit" />
		</div>
	</form>
</div>
